<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="layout.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="leftSideBar">
        <div id="logo">
            <img src="logo2.png" />
        </div>
        <div  id="leftSideMenu">
            <ul>
                <li><a onclick="clickMyTask()" href="http://www.baidu.com">我的任务</a></li>
            </ul>
            <ul>
                <li><a onclick="clickTaskHistory()" href="http://www.bing.com">历史任务</a></li>
            </ul>
        </div>
    </div>
    <div id="pageWrapper">
        <div id="toolBar">
            <div id="toolMenu">
                <a href="http://www.baidu.com"><div id="notification" class="fa fa-bell-o"></div></a> 
                <a href="http://www.baidu.com"><div id="userInfo">用户名</div></a> 
            </div>
        </div>
        <div id="content">content<div id="current">
    </div>
    
</body>
</html>
