<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="leftSideBar">
        <div id="logo">
            <img src="logo2.png" />
        </div>
        <div  id="leftSideMenu">
            <ul>
                <li><a onclick="clickMyTask()" href="http://www.baidu.com">我的任务</a></li>
            </ul>
            <ul>
                <li><a onclick="clickTaskHistory()" href="http://www.bing.com">历史任务</a></li>
            </ul>
        </div>
    </div>
    <div id="pageWrapper">
        <div id="toolBar">toolBar</div>
        <div id="content">content</div>
    </div>
    
</body>
</html>
