<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/CSS/layout.css">
</head>
<body>
    <div id="leftSideBar">
        <img src="" />
        <ul>
            <li><a onclick="clickMyTask()" href="#">我的任务</a></li>
        </ul>
        <ul>
            <li><a onclick="clickTaskHistory()" href="#">历史任务</a></li>
        </ul>
    </div>
    <div id="pageWrapper">
        <div id="toolBar">toolBar</div>
        <div id="content">content</div>
    </div>
    
</body>
</html>
