html{
    height: 100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

#leftSideBar{
    background-color:#1e599d;
    color:white;
    float:left;
    height:100%;
    width:220px;
}
#logo{
    width: 100%;
    height:70px;
    background-color: #012877;
}

#logo img{
    width: 100%;
    height:60px;
    /* padding: 5px 20px 10px 10px; */
}

#leftSideMenu{
    margin-top: 10px;
}

#leftSideBar ul{
    /* border-bottom:1px solid gray; */
    margin:0;
    padding:0;
    line-height:30px;
}

#leftSideBar li{
    list-style:none;
    text-align:center;
}

#leftSideBar a{
    text-decoration:none;
    color:white;
    display: block;
    padding:10px 20px 10px 20px;
}

#leftSideBar a:hover{
    text-decoration:none;
    color:white;
    display: block;
    padding:10px 20px 10px 20px;
    background-color: #1890ff;
}

#pageWrapper{
    margin-left:220px;
    height:100%;
    max-width:100%;
    box-sizing: border-box;
}

#toolBar{
    height:60px;
    width: 100%;
    box-sizing: border-box;
    background-color:white;
    padding: 0px 20px 0px 20px;
    white-space:nowrap;
}

#toolMenu{
    height: 60px;
    float: right;
    line-height: 60px;
}

#toolBar div{
    line-height: 50px;
}

#toolBar a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

#notification{
    width:30px;
    font-size: 18px;
    text-align: center;
}

#userImg{
    width:25px;
    height: 25px;
    background-color: bisque;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: 3px;
}

#content{
    /* height:100%;  */ /*height get by js*/
    background-color:#f0f2f5;
    padding: 20px;
    box-sizing: border-box;
}

