#checkRecord {
    background-color: white;
    padding: 20px;
}

#checkRecord-table {
    width: 100%;
}

    #checkRecord-table td {
        text-align: left;
    }

    #checkRecord-table p {
        /*text-align: left;
        width: 100%;
        display: inline-block;*/
    }

        #checkRecord-table p span {
        }

.floatRight {
    float: right;
    /*min-width: 80%;*/
}

#checkRecord-table td > div {
    display: inline-block;
}

#checkRecord-title {
    display: block;
    height: 40px;
    color: #7c7c7c;
}
