
@{
    ViewBag.Title = "TaskHistoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="leftSideBar">
    <div id="leftSideMenu">
        <ul>
            <li><a onclick="clickMyTask()" href="http://www.baidu.com"><i class="fa fa-dashboard"></i>&nbsp;我的任务</a></li>
        </ul>
        <ul>
            <li><a onclick="clickTaskHistory()" href="http://www.bing.com"><i class="fa fa-edit"></i>&nbsp;历史任务</a></li>
        </ul>
    </div>
</div>
<div id="content">
    <div id="content-title">
        <span class="content-title-font">我的任务</span>
        <span class="content-title-font">/</span>
        <span class="content-title-current-font">查看明细</span>
    </div>
    <div id="content-all">
        <div id="checkRecord">
            <span id="checkRecord-title">审批记录</span>
            <table id="checkRecord-table">
                <tr>
                    <th>提交时间</th>
                    <th>审批时间</th>
                    <th>审批状态</th>
                    <th>审批人</th>
                </tr>
                <tr>
                    <td>2019/08/04</td>
                    <td>2019/08/06</td>
                    <td>未通过</td>
                    <td>OA人员</td>
                </tr>
                <tr>
                    <td>2019/08/04</td>
                    <td>2019/08/06</td>
                    <td>未通过</td>
                    <td>OA人员</td>
                </tr>
                <tr>
                    <td>2019/08/04</td>
                    <td>2019/08/06</td>
                    <td>未通过</td>
                    <td>OA人员</td>
                </tr>
            </table>
        </div>
    </div>
</div>

